<div class="mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex align-items-center">
                <h1 style="flex: 1 1; color: #ff6957">
                    <i class="bi bi-balloon-heart"></i>
                    TẠO KHÓA HỌC
                </h1>
                <a
                    href="/group-courses"
                    style="background-color: #ff6957; border-color: #ff6957"
                    class="btn btn-primary"
                >
                    <i class="bi bi-folder"></i> Quản lý
                </a>
            </div>
            <form
                method="POST"
                action=""
            >
                <div class="mb-3">
                    <label for="floatingSelect">
                        Khóa học thuộc loại
                    </label>
                    <div class="form-floating">
                        <select
                            required
                            name="type"
                            class="form-select"
                            id="floatingSelect"
                            aria-label="Floating label select example"
                        >
                            <option value="" selected>
                                Mở menu để chọn
                            </option>
                            <option value="frontend">
                                Front-End
                            </option>
                            <option value="backend">
                                Back-End
                            </option>
                            <option value="frontend, backend">
                                Front-End &amp; Back-End
                            </option>
                        </select>
                        <label for="floatingSelect">
                            Lựa chọn khoá học
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">
                        Tiêu đề khóa học
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        autocomplete="off"
                    />
                </div>
                <div class="mb-3">
                    <label
                        for="desc"
                        class="form-label"
                        >Path khóa học</label>
                        <textarea
                        type="text"
                        class="form-control"
                        id="desc"
                        name="name"
                        autocomplete="off"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label
                        for="videoId"
                        class="form-label"
                    >Thumbnail</label>
                    <input
                        type="text"
                        class="form-control"
                        id="videoId"
                        name="thumbnail"
                        autocomplete="off"
                    />
                </div>
                <button
                    style="background-color: #ff6957; border-color:#ff6957"
                    type="submit"
                    class="btn btn-dark fw-bold"
                >
                    <i class="bi bi-plus-square"></i>
                    Tạo khóa học
                </button>
            </form>
        </div>
    </div>
</div>