@charset "UTF-8";
body {
  font-family: 'Montserrat' , Arial, Helvetica, sans-serif !important; }

::selection {
  color: #fff;
  background-color: #ff6957; }

#gotop {
  position: fixed;
  display: none;
  color: #ff6957;
  z-index: 99;
  font-size: 2.6rem;
  right: 4%;
  bottom: 10%;
  cursor: pointer;
  opacity: .525;
  transition: all .3s ease 0s; }
  #gotop:hover {
    opacity: 1;
    color: #ff1d1c;
    transition: all .3s ease 0s; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.6); }

.avatar-user {
  border-radius: 50%;
  height: 32px;
  width: 32px; }

.avatar-user-2 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 0;
  object-fit: cover; }

#myHeader {
  z-index: 99;
  width: 100%;
  background-color: #fff; }

.navbar {
  border-bottom: 1px solid rgba(102, 102, 102, 0.1); }
  .navbar .dropdown-menu .nav-link {
    padding: 8px;
    font-size: .9rem; }
    .navbar .dropdown-menu .nav-link:hover {
      color: #292929; }
  .navbar .nav-link {
    color: #666; }
  .navbar .dropdown-toggle::after {
    display: none; }
  .navbar .dropdown-menu[data-bs-popper] {
    animation: swipeDown .3s ease;
    border: none;
    left: -380%;
    border-radius: 10px;
    min-width: 230px;
    padding: 8px 24px;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2); }
  .navbar .dropdown-divider {
    color: #666;
    opacity: .1; }

.company-name {
  font-weight: bold;
  background: -webkit-linear-gradient(#ff1d1c, #ff6957);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .company-name + span {
    color: #000;
    font-size: 1rem;
    font-weight: 500; }

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  height: 40px;
  padding: 0 16px 0 8px;
  transition: border-color .2s ease-in-out;
  width: 420px; }

.search-icon {
  background-color: #fff;
  height: 32px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  width: 30px; }
  .search-icon:hover {
    opacity: 1; }
  .search-icon .bi-search::before {
    font-weight: bold !important; }

.header-search {
  flex: 1 1;
  padding: 0 4px;
  caret-color: #444;
  outline: none;
  border: none; }

.block {
  position: relative;
  transition: all .3s ease 0s; }

.block:hover .card {
  border: none; }

.wrap-button a {
  display: none;
  transition: all .3s ease 0s; }

.block:hover .wrap-button a {
  transition: all .3s ease 0s;
  display: block; }

.block:hover .play-video .card-img-top {
  display: none; }

.block:hover .card > .card-body {
  display: none; }

.block .iframe {
  display: none;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  width: 350px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: linear .35s; }

.block:hover .iframe {
  display: block;
  opacity: 1;
  transition: linear .35s; }

.block a .card-title {
  display: -webkit-box;
  font-size: 1.1rem;
  line-height: 1.4;
  color: #292929;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.block a {
  text-decoration: none; }

.popup-layout {
  visibility: hidden;
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  transition: all .3s ease 0s; }

.block:hover .popup-layout {
  left: -15%;
  visibility: visible;
  box-shadow: #000 0px 2px 8px;
  transition: all .3s ease 0s; }

.not-found {
  font-size: 8rem;
  font-weight: bold;
  color: #ff6957; }
  .not-found .not-found__content {
    font-size: 4rem;
    color: #000; }
  .not-found .not-found__button {
    margin-top: 32px;
    border-radius: 9999px;
    font-size: 1.6rem;
    color: #ff6957;
    background-color: inherit;
    border-color: inherit;
    padding: 12px 28px; }
    .not-found .not-found__button:hover {
      opacity: .8;
      background-color: inherit;
      border-color: inherit; }

.pagination a {
  text-decoration: none; }

.comment .avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px; }

.comment .comment-block-input {
  width: 100%; }
  .comment .comment-block-input .comment-block-input__text-input {
    line-height: 16px;
    padding: 0;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: transparent; }
  .comment .comment-block-input .cancel, .comment .comment-block-input .cancel-2 {
    color: #606060;
    font-weight: 500; }
  .comment .comment-block-input .primary {
    color: #fff;
    background-color: #065fd4;
    font-weight: 500; }
    .comment .comment-block-input .primary:hover {
      opacity: .9; }
  .comment .comment-block-input .reply-btn,
  .comment .comment-block-input .reply-btn-2 {
    cursor: pointer;
    color: #606060;
    font-size: .75rem;
    font-weight: 600; }
  .comment .comment-block-input p, .comment .comment-block-input span {
    font-weight: 600; }
  .comment .comment-block-input li {
    list-style-type: none; }
  .comment .comment-block-input textarea {
    resize: none; }

.comment .avatar-reply img {
  border-radius: 50%;
  height: 24px;
  width: 24px; }

.hide {
  display: none !important; }

.thumpnail {
  display: block;
  width: 168px;
  height: 94px; }

.iframe-detail {
  display: none; }

.block-detail:hover .thumpnail {
  display: none; }

.block-detail:hover .iframe-detail {
  display: block;
  pointer-events: none; }

.block-detail__text {
  color: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 1.2; }
  .block-detail__text span {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
    .block-detail__text span:nth-child(2) {
      color: #606060;
      font-weight: 400; }

.total-reply {
  color: dodgerblue;
  cursor: pointer;
  margin-bottom: 8px; }

.reply-block__item,
.comment-block__item {
  margin-bottom: 8px; }

.comment-block__item:hover > .comment-option,
.reply-block__item:hover > .reply-option {
  display: block; }

.reply-option,
.comment-option {
  position: relative;
  display: none;
  cursor: pointer; }

.reply-option .bi,
.comment-option .bi {
  font-size: 1.2rem; }

.reply-option__item,
.comment-option__item {
  position: absolute;
  cursor: default;
  min-height: 60px;
  min-width: 120px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 0;
  white-space: nowrap;
  z-index: 1; }
  .reply-option__item li,
  .comment-option__item li {
    display: flex;
    align-items: center;
    min-height: 36px;
    cursor: pointer;
    padding: 0 36px 0 16px; }
    .reply-option__item li span,
    .comment-option__item li span {
      margin-left: 16px;
      font-weight: normal; }
    .reply-option__item li:hover,
    .comment-option__item li:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.reply-block-2 {
  display: flex;
  margin-left: 32px; }

.wrapVideo {
  object-fit: cover; }

#myVideo {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none; }

.login-form {
  margin-top: 12px; }
  .login-form .header-form {
    display: block;
    color: #6e6e6e;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem; }

.visible-password {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  cursor: pointer; }

.Modal-Alert__content {
  position: fixed !important;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  animation: swipeDown .3s; }

@keyframes swipeDown {
  from {
    top: 5%; } }

.carousel-inner {
  border-radius: 16px;
  min-height: 270px; }
  .carousel-inner .carousel-item {
    background: linear-gradient(to right, #2877fa, #6717cd);
    height: 270px; }
    .carousel-inner .carousel-item:nth-child(2) {
      background: linear-gradient(to right, #c7e519, #82b70d); }
    .carousel-inner .carousel-item:nth-child(3) {
      background: linear-gradient(to right, #19b5e3, #456df1); }
    .carousel-inner .carousel-item img {
      object-fit: cover;
      height: 100%; }
  .carousel-inner .first-slide-img {
    float: right; }
  .carousel-inner .first-slide-content {
    position: relative;
    color: #fff;
    top: 20%;
    left: 4%; }

.link-text {
  text-decoration: none;
  color: currentColor; }
  .link-text:hover {
    color: currentColor; }

.slide-show__button {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 999px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  min-width: 124px;
  padding: 4px 10px;
  text-align: center;
  transition: .2s ease; }
  .slide-show__button:hover {
    mix-blend-mode: screen;
    color: black;
    background-color: #fff; }

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px;
  background-color: #fff;
  color: #4b4b4b;
  background-image: none; }

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 20px; }

.carousel .carousel-control-prev {
  justify-content: flex-start; }
  .carousel .carousel-control-prev .carousel-control-prev-icon {
    margin-left: -16px; }

.carousel .carousel-control-next {
  padding-right: -12px;
  justify-content: flex-end; }
  .carousel .carousel-control-next .carousel-control-next-icon {
    margin-right: -16px; }

.carousel-indicators .active {
  background-color: #fff; }

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5); }

.card-text {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #292929;
  display: -webkit-box;
  font-size: 1rem;
  line-height: 1.4;
  overflow: hidden; }
  .card-text:hover {
    color: currentColor; }

.home-courses-thumbnail {
  position: relative; }
  .home-courses-thumbnail::after {
    position: absolute;
    content: 'Xem khoá học';
    visibility: hidden;
    top: 60%;
    left: 50%;
    opacity: 0;
    color: #000;
    font-size: .8rem;
    font-weight: 600;
    padding: 6px 10px;
    text-align: center;
    border-radius: 999px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: all .3s ease 0s; }
  .home-courses-thumbnail::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease 0s; }
  .home-courses-thumbnail:hover::after, .home-courses-thumbnail:hover::before {
    opacity: 1;
    visibility: visible; }
  .home-courses-thumbnail:hover::after {
    top: 50%;
    transition: all .3s ease 0s; }

.footer-wrapper {
  background-color: #181821;
  color: #a9b3bb;
  overflow: hidden;
  margin-top: 74px;
  padding: 68px 0 40px; }

.footer-contact {
  margin: 9px 0 4px;
  font-size: .9rem; }
  .footer-contact > span {
    margin: 4px 0; }
  .footer-contact a {
    margin: 4px 0;
    text-decoration: none;
    color: inherit; }
    .footer-contact a:hover {
      color: inherit;
      opacity: .8; }

.footer-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px; }
  .footer-title ~ span {
    font-size: .9rem;
    margin: 4px 0; }

.footer-social {
  font-size: 2.4rem;
  text-decoration: none; }
  .footer-social .bi {
    background-color: #fff;
    border-radius: 10px; }
    .footer-social .bi:hover {
      opacity: .9; }

@keyframes swipeDown {
  from {
    top: 40%; } }
