<div class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a class="navbar-brand" href="/">
                    <img
                        style="height: 38px; width: 38px"
                        src="/img/logo.png"
                        alt="logo"
                    />
                    <span class="company-name">
                        MeTub
                    </span>
                    <span style="color: #fff">
                        | Học Lập Trình
                    </span>
                </a>
                <div class="d-flex flex-column footer-contact">
                    <span>
                        Điện thoại: 
                        <a href="tel: 0901306730">
                            0901.306.730
                        </a>
                    </span>
                    <span>
                        Email: 
                        <a href="mailto:hungtin640@gmailcom">
                            Hungtin640@gmail.com
                        </a>
                    </span>
                    <span>
                        Địa chỉ: 736 Hùng Vương, Phường 6, Quận 5, Hồ Chí Minh
                    </span>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        VỀ METUBE
                    </h2>
                    <span>
                        Giới thiệu
                    </span>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        CÔNG CỤ
                    </h2>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        HỖ TRỢ
                    </h2>
                    <span>
                        Liên hệ
                    </span>
                    <span>
                        Bảo mật
                    </span>
                </div>
            </div>
            <div class="col-lg-3 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        CÔNG TY CỔ PHẦN CÔNG NGHỆ METUBE
                    </h2>
                    <span>
                        Mã số thuế: 0109922901
                    </span>
                    <span>
                        Ngày thành lập: 28/08/2022
                    </span>
                    <span>
                        Lĩnh vực: Công nghệ, giáo dục, lập trình. METUBE xây dựng
                        và phát triển những sản phẩm mang lại giá trị cho cộng đồng.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                style="margin: 48px 0"
                class="d-flex justify-content-between"
            >
                <span
                    style="font-size: .9rem"
                    class="col-lg-6"
                >
                    © 2022 METUBE. Nền tảng học lập trình hàng đầu Việt Nam
                </span>
                <div
                    style="text-align: right"
                    class="footer-social col-lg-6"
                >
                    <a href="https://www.youtube.com/">
                        <i
                            style="color: #ff0000"
                            class="bi bi-youtube"
                        ></i></a>
                    <a href="https://www.facebook.com/">
                        <i
                            style="color: #0d6efd"
                            class="bi bi-facebook"
                        ></i></a>
                    <a href="https://www.tiktok.com/">
                        <i
                            style="color: #000"
                            class="bi bi-tiktok"
                        ></i></a>
                </div>
            </div>
        </div>
    </div>
</div>