<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">MeTube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.6435-1/152791480_2815956978617474_6609316005584632535_n.jpg?stp=dst-jpg_p100x100&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=WWleCUi6ejQAX_wjVcv&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fsgn4-1.fna&oh=00_AT9AIaq4Xx7TwPvdjrXLiVGVwcEpe3qQiW7fjOtIT0rCnQ&oe=632CE7BA"
              alt="avatar-user"
              class="avatar-user"
            />
            <b>Hùng Tín</b>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="nav-link" aria-current="page" href="/courses/me/manage">My Course</a>
            </li>
            <li>
              <a class="nav-link" aria-current="page" href="/courses/create">Create Course</a>
            </li>
             <li><hr class="dropdown-divider"></li>
            <li>
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li>
              <a class="nav-link" href="/news">News</a>
            </li>
            <li>
              <a class="nav-link" href="/courses">Courses</a>              
            </li>
             <li><hr class="dropdown-divider"></li>
            <li>
              <a class="nav-link" href="/">Logout</a>              
            </li>
          </ul>
        </li>
      </ul>
    </div>   
  </div>
</nav>

