    <article>
        <a style="text-decoration: none" class="btn-lg px-4 py-3 btn-secondary d-flex mt-4" href="/courses/me/manage">My Course</a>
        <a style="text-decoration: none" class="btn-lg px-4 py-3 btn-secondary d-flex mt-4" href="/courses/create">Create Course</a>
        <a style="text-decoration: none" class="btn-lg px-4 py-3 btn-secondary d-flex mt-4" href="/">Home</a>
        <a style="text-decoration: none" class="btn-lg px-4 py-3 btn-secondary d-flex mt-4" href="/news">News</a>
        <a style="text-decoration: none" class="btn-lg px-4 py-3 btn-secondary d-flex mt-4" href="/courses">Courses</a>
    </article>