<div class="not-found d-flex flex-column align-items-center mt-4">
    <a
        href="/"
        style="flex: 1 1"
        class="navbar-brand align-self-start"
    >
        <img
            style="height: 38px; width: 38px"
            src="/img/logo.png"
            alt="logo"
        />
        <span class="company-name">
            MeTub
        </span>
        <span style="font-weight: bold">
            | Học Lập Trình
        </span>
    </a>
    <p>
        404
    </p>
    <span class="not-found__content">
        Không tìm thấy nội dung
        😓
    </span>
    <a href="/" class="btn btn-primary not-found__button">
        Quay lại trang chủ
    </a>
    <span
        style="font-size: 1rem; color: #666; margin-top: 80px"
    >
        © 2022 METUBE. Nền tảng học lập trình hàng đầu Việt Nam
    </span>
</div>