{{#with data}}
    <h1 class="payment_title">
        <p>Mở khóa toàn bộ khóa học</p>
    </h1>
    <div class="d-flex justify-content-spacebetween payment_wrapper">
        <div class="paymentContent-left">
            <div class="paymentContent_description">
                <p>
                    Sở hữu khóa học HTML CSS <em><strong>đầy đủ và chi tiết</strong></em> nhất bạn có thể tìm thấy trên Internet.
                </p>
                <p>
                    Có tới<em><strong> hàng trăm bài tập</strong></em> thực hành sau mỗi bài học và bạn sẽ được<em><strong> làm 8 dự án thực tế</strong></em> trong khóa học này.
                </p>
                <ul>
                    <li>
                        Đã có sẵn hơn <em><strong>200 bài học</strong></em> (bao gồm video, bài tập, thử thách, flashcards, v.v)
                    </li>
                    <li>
                        Khóa học chưa hoàn thành 100%, dự kiến hoàn thành trong 3 tháng tới. Bài học mới được cập nhật mỗi ngày.
                    </li>
                </ul>
            </div>
            <div class="paymentContent_price">
                <span class="paymentContent_price-title">Giá</span>
                <div class="paymentContent_price-wrapper">
                    <del>2,499,000đ</del>
                    <span>1,299,000đ</span>
                </div>
            </div>
            <h2 class="paymentContent_title">
                <p>Chọn ngân hàng</p>
            </h2>
            <div class="paymentContent_bank-list">
                <div class="paymentContent_bank-item paymentContent_active">
                    <img src="https://files.fullstack.edu.vn/f8-prod/landing_banks/1/62ff4ba21086f.png" alt="Vietcombank">
                </div>
                <div class="paymentContent_bank-item">
                    <img src="https://files.fullstack.edu.vn/f8-prod/landing_banks/3/62ff4cce542ee.png" alt="MBBank">
                </div>
            </div>
            <h2 class="paymentContent_title">
                <p>Chuyển khoản bằng QR</p>
            </h2>
            <div class="paymentContent_bank-detail">
                <div class="paymentContent_qr-code">
                    <img src="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/323559825_1180461079239031_5162636743600719875_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=SpMos4ZWNpYAX_97vaR&tn=kpREoaz0Rf6vfqRg&_nc_ht=scontent.fsgn5-14.fna&oh=00_AfDBCiAgsiVS4nn47Rh_GXHNCjiHGB0k20grJyXBNyOJRg&oe=63B75D67" style="opacity: 1;">
                </div>
                <ul class="paymentContent-instruction">
                    <li>Bước 1: Mở app ngân hàng hoặc Momo và quét mã QR.</li>
                    <li>Bước 2: Đảm bảo nội dung chuyển khoản là <span>{{username}}</span>.</li>
                    <li>Bước 3: Thực hiện thanh toán.</li>
                </ul>
            </div>
            <h2 class="paymentContent_title">
                <p>Chuyển khoản thủ công</p>
            </h2>
            <div class="paymentContent_bank-info">
                <div class="paymentContent_row">
                    <div class="paymentContent_bank-info-item">
                        <div class="paymentContent_label">Số tài khoản</div>
                        <div class="paymentContent_content">
                            9901306730
                            <img src="https://fullstack.edu.vn/static/media/clone.d2ecd3252b355d732cabb677ec33e5c6.svg"
                            class="paymentContent_copy-icon" alt="coppy">
                        </div>
                    </div>
                    <div class="paymentContent_bank-info-item">
                        <div class="paymentContent_label">Tên tài khoản</div>
                        <div class="paymentContent_content">LÊ HÙNG TÍN</div>
                    </div>
                </div>
                <div class="paymentContent_row">
                    <div class="paymentContent_bank-info-item">
                        <div class="paymentContent_label">Nội dung</div>
                        <div class="paymentContent_content">
                            <span>{{username}}</span>
                            <img src="https://fullstack.edu.vn/static/media/clone.d2ecd3252b355d732cabb677ec33e5c6.svg" class="paymentContent_copy-icon" alt="coppy">
                        </div>
                    </div>
                    <div class="paymentContent_bank-info-item">
                        <div class="paymentContent_label">Chi nhánh</div>
                        <div class="paymentContent_content">Vietcombank Hồ Chí Minh</div>
                    </div>
                </div>
                <h2 class="paymentContent_title">
                    <p>Nhận thông báo về khóa học</p>
                </h2>
                <div class="paymentContent_notification">
                    <div class="paymentContent_icon">
                        <img src="https://fullstack.edu.vn/static/media/bell-on.387885b5724a5131f7f828cb0b3c8c3a.svg" alt="">
                    </div>
                    <ul>
                        <li>Khóa học sẽ được kích hoạt sau khi METUBE nhận được thanh toán của bạn (tối đa 30 phút).</li>
                        <li>
                            Bạn sẽ nhận được thông báo trên
                            <a style="text-decoration: none; color: #fff" href="/" target="_blank">Metube.edu.vn</a>
                        </li>
                        <li>
                            và qua email
                            <span style="color: #fff">{{email}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="paymentContent-right">
            <div class="paymentContent_benefit">
                <div class="paymentContent_benefit-wrapper">
                    <h2 class="paymentContent_benefit-title">
                        Bạn sẽ nhận được gì?
                    </h2>
                    <section>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/check-circle.9af250ebcec2d0bbb82b1d0328ec2ab1.svg" alt="">
                            </span>
                            <div>
                                Truy cập toàn bộ khóa
                                <strong>HTML CSS Pro</strong>
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/person-chalkboard.e496b36a4b7e0c2965356cf1ac6797a8.svg" alt="">
                            </span>
                            <div>
                                Hơn
                                <strong>354</strong>
                                bài học
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/book.4d96098b583fd76e7ac68daab0b273dd.svg" alt="">
                            </span>
                            <div>
                                Hơn
                                <strong>255</strong>
                                bài tập và thử thách
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/news.11a396b759e638300ab458b44956b481.svg" alt="">
                            </span>
                            <div>
                                Thực hành
                                <strong>8</strong>
                                dự án thực tế
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/flashcard.fd96dc4beed8cd478dce1428b7855159.svg" alt="">
                            </span>
                            <div>
                                Hơn
                                <strong>137</strong>
                                flashcards
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/comments.2fd22436e79f374abba35fa8be0269f6.svg" alt="">
                            </span>
                            <div>
                                Kênh hỏi đáp riêng tư
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/comment-check.eebcdfa33cca436acfb6c8e8ab2b6e35.svg" alt="">
                            </span>
                            <div>
                                Đáp án cho mọi thử thách
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/certificate.9bde542036cc1bc13bec194469dbdcad.svg" alt="">
                            </span>
                            <div>
                                Nhận chứng chỉ khi hoàn thành
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/star.79d54fbd438c1340456d28d97ed30a74.svg" alt="">
                            </span>
                            <div>
                                Cập nhật khóa học trong tương lai
                            </div>
                        </div>
                        <div class="paymentContent_benefit-item">
                            <span class="paymentContent_icon">
                                <img src="https://fullstack.edu.vn/static/media/infinity.9c82e472bf648834b34de804d4675007.svg" alt="">
                            </span>
                            <div>
                                Mua một lần, học mãi mãi
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    {{!-- Will Learn --}}
    <div class="willLearn_wrapper">
        <h2 class="willLearn_title">
            <p>Bạn sẽ học được những gì?</p>
        </h2>
        <div class="willLearn_content">
            <section class="module-row">
                <section class="module-col">
                    <ul>
                        <li>Cấu trúc file HTML</li>
                        <li>Các thẻ meta</li>
                        <li>Thuộc tính trong HTML</li>
                        <li>Các thẻ tiêu đề</li>
                        <li>Thẻ đoạn văn</li>
                        <li>Sử dụng liên kết</li>
                        <li>Sử dụng Emmet</li>
                        <li>Tính thừa kế CSS</li>
                    </ul>
                </section>
                <section class="module-col">
                    <ul>
                        <li>Thẻ inline và block</li>
                        <li>Đệm, viền, khoảng lề</li>
                        <li>Đơn vị trong CSS</li>
                        <li>Làm việc với font chữ</li>
                        <li>Làm việc với màu sắc</li>
                        <li>Làm việc với hình ảnh</li>
                        <li>Làm việc với background</li>
                        <li>Thuộc tính vị trí</li>
                    </ul>
                </section>
                <section class="module-col">
                    <ul>
                        <li>Biến trong CSS</li>
                        <li>CSS selectors nâng cao</li>
                        <li>Đặt tên class theo BEM</li>
                        <li>Semantic và HTML5</li>
                        <li>Dàn trang với Flex Box</li>
                        <li>Dàn trang với CSS Grid</li>
                        <li>Forms và Validations</li>
                        <li>Responsive Web Design</li>
                    </ul>
                </section>
                <section class="module-col">
                    <ul>
                        <li>Grid System 12 Columns</li>
                        <li>Animations</li>
                        <li>Sử dụng Sass</li>
                        <li>Web Accessibility</li>
                        <li>Tìm hiểu về UI và UX</li>
                        <li>Rèn luyện mắt thẩm mỹ</li>
                        <li>Sử dụng Github</li>
                        <li>Kiến thức SEO cơ bản</li>
                    </ul>
                </section>
            </section>
        </div>
    </div>

    {{!-- Comingsoon Courses --}}
    <div class="comingSoonCourses_wrapper">
        <div class="comingSoonCourses_left">
            <h2 class="comingSoonCourses_title">
                <p>Khóa học nào sẽ được ra mắt tiếp theo?</p>
            </h2>
            <div class="comingSoonCourses_description">
                <p>Theo kế hoạch, từ giờ tới năm 2023 METUBE sẽ ra mắt thêm 2 khóa học là:</p>
                <ol>
                    <li>JavaScript Pro (dự kiến Pre-Order đầu năm 2023)</li>
                    <li>ReactJS Pro (dự kiến Pre-Order cuối quý I 2023)</li>
                </ol>
                <p>
                    <em>
                        Sẽ có những ưu đãi đặc biệt hơn cho các bạn đã từng mua khóa HTML CSS Pro trước đó.
                    </em>
                </p>
            </div>
            <div class="courses-list">
                <div class="comingSoonCourses_courses-list-wrapper">
                    <section style="width: 50%">
                        <div class="comingSoonCourses_course-item">
                            <img src="https://files.fullstack.edu.vn/f8-prod/courses/19/62f13cb685c81.png" alt="jsPro">
                            <h3 class="comingSoonCourses_course-title">
                                <p>Javascript Pro</p>
                            </h3>
                            <p class="comingSoonCourses_time">
                                Dự kiến ra mắt vào tháng 2 năm 2023.
                            </p>
                        </div>
                    </section>
                    <section style="width: 50%">
                        <div class="comingSoonCourses_course-item">
                            <img src="https://files.fullstack.edu.vn/f8-prod/courses/20/62f13ddf5e7f9.png" alt="reactjsPro">
                            <h3 class="comingSoonCourses_course-title">
                                <p>ReactJS Pro</p>
                            </h3>
                            <p class="comingSoonCourses_time">
                                Dự kiến ra mắt vào tháng 6 năm 2023.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="comingSoonCourses_right">
            <img src="https://fullstack.edu.vn/static/media/payment-footer-bg.7213dff1ad93fec9be7b.png" alt="comingSoon">
        </div>
    </div>
    
    <script>
        addEventListener('DOMContentLoaded', (e) => {
            let coppyButton = document.querySelectorAll('.paymentContent_copy-icon')
            let bankSelected = document.querySelectorAll('.paymentContent_bank-item')
            coppyButton.forEach((e) => {
                e.addEventListener('click', (e) => {
                    let $element = e.target.parentElement.innerText
                    navigator.clipboard.writeText($element)
                })
                e.onclick = () => {
                    navigator.clipboard.readText().then((data)=>{
                        alert(`"${data}" Has been coppied to your clipboard!!`)
                    })
                }
            })
            bankSelected.forEach((e) => {
                e.addEventListener('click', (e) => {
                    if(e.target.tagName == 'IMG') return
                    bankSelected.forEach((e) => {
                        if(e.className == 'paymentContent_bank-item paymentContent_active') {
                            e.className = 'paymentContent_bank-item'
                        }
                    })
                    e.target.className ='paymentContent_bank-item paymentContent_active'
                })
            })
        })
    </script>
{{/with}}