<div class="container login-form" style="width: 400px">
    <span class="header-form mt-4">SIGN UP</span>
    <form method="POST" action="/register/create" class="mt-4">
        <div class="mb-3">
            <label for="email" class="form-label">
                Email address
                <span style="color:red">*</span>
            </label>
            <input required autocomplete="off" type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">
                Username
                <span style="color:red">*</span>
            </label>
            <input autocomplete="off" type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">
                Password
                <span style="color:red">*</span>
            </label>
            <input autocomplete="off" type="password" class="form-control" id="password" name="password">
            <span class="visible-password mt-1">
                <i class="bi bi-eye" onclick="showPw()">
                    Show Password
                </i>
            </span>
            <span style="display: none" id="checkCapsLock" class="alert alert-danger" role="alert">WARNING! Caps lock is ON.</span>
        </div>
        <div class="form-text">
            Already have account?
            <a href="/login">Login</a>
        </div>
        <button style="display: block; width: 100%" type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>
<script>
    const form = document.forms[0]
    const emailIpt = document.querySelector('input[type="email"]')
    const userIpt = document.querySelector('input[type="text"]')
    const passIpt = document.querySelector('input[type="password"]')

    //Stop space action on keyboard
    addEventListener('keydown', (e) => {
        if(e.keyCode == '32') {
            e.preventDefault()
        }
    })
    
    //Two way binding
    passIpt.onchange = e => {
        var trim = e.target.value.trim()
        passIpt.value = trim
    }
    emailIpt.onchange = e =>{
        var trim = e.target.value.trim()
        emailIpt.value = trim
    }
    userIpt.onchange = e =>{
        var trim = e.target.value.trim()
        userIpt.value = trim
    }

    //Check submit value if empty
    form.onsubmit = (e) => {
        if( emailIpt.value == '' || userIpt.value == '' || passIpt.value == '') {
            e.preventDefault()
            alert('Những trường * là bắt buộc')
        }
    }

</script>
