<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
    <title>MeTub - học lập trình để đi làm! | Học lập trình online</title>
</head>
<body class="payment_body">
    <div style="background-color: transparent" id="myHeader" class="navbar navbar-expand-lg">
        <div class="d-flex align-items-center mx-4">
            {{!-- Logo & Title --}}
            <a class="navbar-brand" href="/">
                <img
                    style="height: 38px; width: 38px"
                    src="/img/logo.png"
                    alt="logo"
                />
                <span class="company-name">
                    MeTube
                </span>
            </a>
                <span style="font-weight: 600">
                    | Học Lập Trình
                </span>
        </div>
    </div>
    <div class="container body">
        <div class="ScrollToTop_arrow-up">
            <div id="payment_gotop">
                <img src="https://fullstack.edu.vn/static/media/arrow-up.a9c398e99328f13333218fc8d6a5911f.svg" alt="" style="color: #fff; width: 2rem;">
            </div>
        </div>
        {{{body}}}
    </div>
    {{!-- Footer --}}
    <div style="margin-top: 142px;background-color: transparent; border-top: 2px solid #333c6d" class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a class="navbar-brand" href="/">
                    <img
                        style="height: 38px; width: 38px"
                        src="/img/logo.png"
                        alt="logo"
                    />
                    <span class="company-name">
                        MeTub
                    </span>
                    <span style="color: #fff">
                        | Học Lập Trình
                    </span>
                </a>
                <div class="d-flex flex-column footer-contact">
                    <span>
                        Điện thoại: 
                        <a href="tel: 0901306730">
                            0901.306.730
                        </a>
                    </span>
                    <span>
                        Email: 
                        <a href="mailto:hungtin640@gmailcom">
                            Hungtin640@gmail.com
                        </a>
                    </span>
                    <span>
                        Địa chỉ: 736 Hùng Vương, Phường 6, Quận 5, Hồ Chí Minh
                    </span>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        VỀ METUBE
                    </h2>
                    <span>
                        Giới thiệu
                    </span>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        CÔNG CỤ
                    </h2>
                </div>
            </div>
            <div class="col-lg-2 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        HỖ TRỢ
                    </h2>
                    <span>
                        Liên hệ
                    </span>
                    <span>
                        Bảo mật
                    </span>
                </div>
            </div>
            <div class="col-lg-3 mt-2">
                <div class="d-flex flex-column">
                    <h2 class="footer-title">
                        CÔNG TY CỔ PHẦN CÔNG NGHỆ METUBE
                    </h2>
                    <span>
                        Mã số thuế: 0109922901
                    </span>
                    <span>
                        Ngày thành lập: 28/08/2022
                    </span>
                    <span>
                        Lĩnh vực: Công nghệ, giáo dục, lập trình. METUBE xây dựng
                        và phát triển những sản phẩm mang lại giá trị cho cộng đồng.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                style="margin: 48px 0"
                class="d-flex justify-content-between"
            >
                <span
                    style="font-size: .9rem"
                    class="col-lg-6"
                >
                    © 2022 METUBE. Nền tảng học lập trình hàng đầu Việt Nam
                </span>
                <div
                    style="text-align: right"
                    class="footer-social col-lg-6"
                >
                    <a href="https://www.youtube.com/">
                        <i
                            style="color: #ff0000"
                            class="bi bi-youtube"
                        ></i></a>
                    <a href="https://www.facebook.com/Lee.j0han/">
                        <i
                            style="color: #0d6efd"
                            class="bi bi-facebook"
                        ></i></a>
                    <a href="https://www.tiktok.com/">
                        <i
                            style="color: #000"
                            class="bi bi-tiktok"
                        ></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script>
    //---------- Go Top button
addEventListener('DOMContentLoaded', (event) => {
    const goTop = document.querySelector('#payment_gotop')

    window.addEventListener('scroll', (e) => {
        if(window.scrollY > 800) {
            goTop.style.display = 'flex'
        } else{
            goTop.style.display = 'none'
        }
    })

    goTop.onclick = () => {
        window.scrollTo(0, 0)
    }
});
</script>